dask~=2022.7.1
matplotlib==3.5.2
numpy~=1.23.5
pandas==1.4.3
PyYAML==6.0
scipy==1.8.1
seaborn==0.12.2
torch==2.0.1
torchmetrics==0.11.1
tqdm==4.64.0
xarray==2022.6.0
pyod~=1.0.5
cartopy==0.21.0
scikit-image~=0.20.0
scikit-learn~=1.1.1
pytorch_lightning~=1.7.6
segmentation-models-pytorch~=0.3.0
zarr~=2.12.0
shapely --no-binary shapely==1.8.0
imageio~=2.22.0
tsai~=0.3.4
captum==0.6.0
sphinx_rtd_theme
python_docs_theme
ipywidgets
notebook~=7.0.0
